<div class="home">
    <div class="modal-btn-container" >
        <div class="sub-container">
            <p  class="p-modal display-inline-b" >
                Modal Success
            </p>
            <div class="btn-container display-inline-b" >
                <button class="btn-action" >Open</button>
            </div>
        </div>
    </div>
    <div class="modal-btn-container" >
        <div class="sub-container">
            <p class="p-modal display-inline-b" >
                Modal error
            </p>
            <div class="btn-container display-inline-b" >
                <button class="btn-action" >Open</button>
            </div>
        </div>
    </div>
    <div class="modal-btn-container" >
        <div class="sub-container">
            <p class="p-modal display-inline-b" >
                Modal Form
            </p>
            <div class="btn-container display-inline-b" >
                <button class="btn-action" >Open</button>
            </div>
        </div>
    </div>
</div>