<div class="modal-container hidden" id="success">
    <div class="modal-btn-container-close">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
    <div class="modal-contain">
        <h2>Titulo</h2>
        <i></i>
        <p>Hola soy un contenido que puede cambiar</p>
        <button>Cerrar</button>
    </div>
</div>
<div class="overlay hidden"></div>